:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #eaea74;
    --secundario: #4e90d6;
    --gris: #484848;

    --maquina: 'Roboto Mono', monospace;
    --laila: 'Laila', sans-serif;
}

/* ==============Reseteo de valores documento html=============== */
html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: var(--laila);
}

/* ============================================================== */

.titulo{
    text-align: center;
    font-size: 3.8rem;
    font-family: var(--maquina);
    color: var(--oscuro);
}

h1.titulo span {
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex; 
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color:var(--oscuro);
}

@media (max-width: 400px){
    body{
    }
}

@media (min-width: 768px){
    body{
    }
}

.hero{
    background-image: url(img/earth-g78c8f5c2b_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .titulo{
    color: var(--blanco);
}